body {
    background-color: var(--color4);
    font-family: var(--tertiaryfont);
    color: var(--background2-color);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.menu-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: var(--color1);
    font-size: 40px;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    color: var(--color1);
}

/* Dashboard Charts */

.principal-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.chart-div {
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 49vw;
    height: 44.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}