.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.logo-details {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 10px;
    color: var(--background2-color);
}

.logo-name {
    font-size: 25px;
}

.logo-image {
    width: 70px;
    padding-right: 15px;
}

#main {
    transition: margin-left .5s;
}

li {
    margin: 10px 0;
    font-weight: 500;
}

.bx {
    color: var(--background2-color);
    font-size: 30px;
    margin-right: 10px;
}

.sub-menu {
    display: none;
}

.sub-menu.show-submenu {
    display: block;
}

.nav-links {
    width: 100%;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links li {
    width: 100%;
}

.menu-link {
    text-decoration: none;
    align-items: center;
    display: flex;
    color: var(--background2-color);
}

.sub-menu-text {
    font-size: 16px;
    color: var(--background2-color);
    text-decoration: none;
    margin-left: 40px;
    transition: .5s;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.profile-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding: 5px;
}

.profile-content img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.profile_name {
    font-size: 16px;
    color: var(--background2-color);
}

.job {
    font-size: 14px;
    color: var(--background2-color);
}

.menu-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: var(--color1);
    font-size: 40px;
}